@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Projet de BD</h1>
    <p class="lead">La conception physique des risques et d'examens perticuliers pour un travailleur d'une certaine enterprise.</p>
    
    <p class="btn btn-primary btn-lg">@Html.ActionLink("Commencer", "NouvelExamen",null, new { style = "text-decoration:none; color:#FFFFFF;" }) &raquo;</p>
</div>

